################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordCloudTest/obj
/WordCloudTest/bin/Debug
/.vs
*.diagsession