################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordCloud/obj
/WordCloud/bin/Debug
/.vs
*.diagsession
/WordCloud/bin/Debug/WordCloud.pdb
/WordCloud/bin/Debug/WordCloud.exe.config
/WordCloud/bin/Debug/WordCloud.exe
/WordCloud/bin/Release/WordCloud.pdb
/WordCloud/bin/Release/WordCloud.exe.config
/WordCloud/bin/Release/WordCloud.exe
.idea/
